<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Valorguessr</title>
</head>
<style>

body {
  background-color: black
}

@font-face {
    font-family: "ValorantFont";
    src: url("/static/fonts/ValorantFont.ttf") format("truetype");
    }

.textContainer .text {
font-family: "ValorantFont";
color: #fa4454;
font-size: 30px;
text-align: center;
margin: 70px;
}

</style>
<body>
  <div class="textContainer">
    <p class="text"> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        Hey there! This probably isn't the message you were looking for and I'm sorry about that :(.
      Truth is, ValorGuessr hasn't yet been set up for mobile. But the good news is that its my biggest priority
    right now and am working on it vigorously. <br> <br> <br> <br> Thanks for understanding, <br> - Charles :)</p>
  </div>
</body>
</html>