<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>ValorGuessr</title>
</head>
<style>
    @font-face {
    font-family: "ValorantFont";
    src: url("/static/fonts/ValorantFont.ttf") format("truetype");
    }
  body
  {
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url("/static/img/BlankBackground2.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "ValorantFont";
    text-align: center;
    font-size: 200px;
    color: #fa4454;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .counter span {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 1;
  }
  @keyframes fadeIn {
   0% {
    opacity: 0;
    filter: blur(10px);
    transform: scale(1.5);
    }
    50% {
    filter: blur(0px);
    }
    100% {
    opacity: 1;
    transform: scale(0.5);
    }
   }
   html {
    box-sizing: border-box;
    border: 25px solid black;
    height: 100%;
    }

   .gameTitle {
   font-size: 12px;
   position: absolute;
   top: 835px;
   background-color: black;
   padding: 15px;
   }

   .map-container {
   opacity: 0.3;
   position: absolute;
   top: 495px;
   left: 50px;
   }

   .map-container:hover {
   opacity: 1;
   }

   .map-container .map {
   opacity: 0.3;
   z-index: 1;
   }

   .map-container .pointer {
   z-index: 2;
   position: absolute;
   top: -350px;
   left: 910px;
   }

   #pointerImg {
   filter: brightness(1)
   }

   #redpointerImage {
   filter: brightness(1)
   }

   .timer-container {
   font-size: 25px;
   position: absolute;
   top: 25px;
   right: 75px;
   background-color: black;
   padding: 15px;
   }

   .lockinButton {
        background-color: #000;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        font-size: 30px;
        margin: 4px 2px;
        border-radius: 10px;
        font-family: "ValorantFont";
        position: absolute;
        left: 130px;
        bottom: 470px;
   }

   #lockIn {
        background-color: #000;
        font-size: 40px;
        font-family: "ValorantFont";
        color: #fa4454;
        opacity: 0.3;
   }

   #scoreResultPopup {
        font-size: 50px;
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 900px;
        padding: 50px;
        box-shadow: 0 5px 30px rgba(0, 0, 0, .90);
        background-color: #000;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
   }

   #scoreResultPopup.active {
        top: 50%;
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
   }

   .scoreResultPopup #chosenpointerImg {
        position: absolute;
        top: 50%;
        left: 50%;
   }

   .roundMarker {
        position: absolute;
        top: 5%;
        left: 67%;
        font-size: 25px;
        background-color: black;
        padding: 15px;
   }

</style>
<body>
    <div class="roundMarker">
        <h1>Round: <span id="currentRound">1</span> / <span id="maxRound">1</span></h1>
    </div>
    <div>
        <span class="counter"></span>
    </div>
    <div class="map-container">
        <img id="mapImg" src="" style="width:400px;height:auto;">
        <div class ="pointer">
        <img id="pointerImg" src="/static/MapPointer.png" style="width:30px;height:auto;">
        </div>
    </div>
    <div class ="timer-container">
        <h1>Time: <span id="timer">15</span></h1>
    </div>
    <div class="gameTitle">
        <h1>ValorGuessr</h1>
    </div>
    <div class="lockinButton">
        <button id="lockIn">Lock in</button>
    </div>
    <div id="scoreResultPopup">
        <h3>Score: </h3>
        <img id = "resultMap" src="/static/maps/ascent.png" style="width:550px;height:auto;">
        <img id = "redpointerImg" src="/static/RedMapPointer.png" style="width:18px;height:auto;">
        <img id = "chosenpointerImg" src="/static/MapPointer.png" style="width:20px;height:auto;">
        <h2>Total score: </h2>
    </div>
    <script src="/static/mapLocations.js"></script>
    <script src="/static/resultmapLocations.js"></script>
    <script>
        let totalPoints = 0;
        let poimgInvisible = true;
        let mapEnabled = true;
        let isPlaying = false;
        let numberofRounds = 3;
        let currentRound = 0;

        var numberofRoundsText = document.querySelector('.roundMarker #maxRound');
        numberofRoundsText.innerHTML = numberofRounds;

        function nextLevel() {
            var popup = document.getElementById('scoreResultPopup');
                    popup.classList.remove('active');
                    document.querySelectorAll('body > *:not(#scoreResultPopup)').forEach(element => {
                    element.style.filter = '';
                    });
                    poimgInvisible = true;
                    mapEnabled = true;
                    var pointerImage = document.getElementById('pointerImg');
                    pointerImage.style.left = '-3000px';
                    var lockinButton = document.getElementById("lockIn");
                    lockinButton.style.opacity = 0.3;

            if (!isPlaying) {
                isPlaying = true;

                setTimeout(function() {
                    if(numberofRounds > 0){
                    playGame();
                    numberofRounds--;
                    }
                    isPlaying = false;
                }, 1000);
            }
        }

        const debouncedNextLevel = debounce(nextLevel, 1000);

        function debounce(func, delay) {
            let timeoutId;
            return function() {
                const context = this;
                const args = arguments;
                clearTimeout(timeoutId);
                timeoutId = setTimeout(function() {
                    func.apply(context, args);
                    timeoutId = null;
                }, delay);
            };
        }

        const mapFolders = [
                      "ascent",
                      "breeze",
                      "haven",
                      "icebox",
                      "pearl",
                      "split"
                  ];

                  const ascentMaps = [
                      "Ascent1.png",
                      "Ascent2.png",
                      "Ascent3.png",
                      "Ascent4.png",
                      "Ascent5.png",
                      "Ascent6.png",
                      "Ascent7.png"
                  ];

                  const breezeMaps = [
                      "Breeze1.png",
                      "Breeze2.png",
                      "Breeze3.png",
                      "Breeze4.png",
                      "Breeze5.png",
                      "Breeze6.png",
                      "Breeze7.png",
                      "Breeze8.png",
                      "Breeze9.png",
                      "Breeze10.png",
                      "Breeze11.png"
                  ];

                  const havenMaps = [
                      "Haven1.png",
                      "Haven2.png",
                      "Haven3.png",
                      "Haven4.png",
                      "Haven5.png",
                      "Haven6.png",
                      "Haven7.png",
                      "Haven8.png"
                  ];

                  const iceboxMaps = [
                      "Icebox1.png",
                      "Icebox2.png",
                      "Icebox3.png",
                      "Icebox4.png",
                      "Icebox5.png",
                      "Icebox6.png",
                      "Icebox7.png",
                      "Icebox8.png",
                      "Icebox9.png",
                      "Icebox10.png"
                  ];

                  const lotusMaps = [
                      "Lotus1.png",
                      "Lotus2.png",
                      "Lotus3.png",
                      "Lotus4.png",
                      "Lotus5.png",
                      "Lotus6.png",
                      "Lotus7.png",
                      "Lotus8.png",
                      "Lotus9.png",
                  ];

                  const pearlMaps = [
                      "Pearl1.png",
                      "Pearl2.png",
                      "Pearl3.png",
                      "Pearl4.png",
                      "Pearl5.png",
                      "Pearl6.png",
                      "Pearl7.png",
                      "Pearl8.png",
                      "Pearl9.png",
                      "Pearl10.png"
                  ];

                  const splitMaps = [
                      "Split1.png",
                      "Split2.png",
                      "Split3.png",
                      "Split4.png",
                      "Split5.png",
                      "Split6.png",
                      "Split7.png",
                      "Split8.png",
                      "Split9.png",
                      "Split10.png",
                      "Split11.png"
                  ];

        function playGame() {
            console.log("check in");
            var lockinButton = document.getElementById("lockIn");
            lockinButton.disabled = true;

            let imgInvisible = true;

            let randommapImage;
            let randommapFolder;
            var duration = 15;
            var resultPopup = false;
            let countdown;
            currentRound++;

            function startTimer(duration) {
                if (countdown) {
                    return;
                }

            var timer = document.getElementById("timer");
                countdown = setInterval(function() {
                if (!resultPopup) {
                duration--;
                timer.innerHTML = duration;
                if (duration <=0) {
                    clearInterval(countdown);
                    timer.innerHTML = "Time's up!";
                    duration = 15;
                }
                }
            }, 1000);
                return countdown;
            }

            const tick = () => {
            let e = document.querySelector(".counter");
                let time = 4;
                const k = setInterval(() => {
                time--;
                if (time == 0) {
                  clearInterval(k);
                  e.innerHTML = "<span>Go</span>";
                  setTimeout(() => {

                  const randomFolder = Math.floor(Math.random() * mapFolders.length);
                  randommapFolder = mapFolders[randomFolder];
                  let randomImage;
                  let index;
                  var currentRoundText = document.querySelector('.roundMarker #currentRound');
                  currentRoundText.innerHTML = currentRound;

                  if (randommapFolder == "ascent"){
                  console.log("ascent");
                  randomImage = Math.floor(Math.random() * ascentMaps.length);
                  randommapImage = ascentMaps[randomImage];
                  index = ascentMaps.indexOf(randomImage, 1);
                  ascentMaps.splice(index, 1);
                  }

                  if (randommapFolder == "breeze"){
                  console.log("breeze");
                  randomImage = Math.floor(Math.random() * breezeMaps.length);
                  randommapImage = breezeMaps[randomImage];
                  index = breezeMaps.indexOf(randomImage, 1);
                  breezeMaps.splice(index, 1);
                  }

                  if (randommapFolder == "haven"){
                  console.log("haven");
                  randomImage = Math.floor(Math.random() * havenMaps.length);
                  randommapImage = havenMaps[randomImage];
                  index = havenMaps.indexOf(randomImage, 1);
                  havenMaps.splice(index, 1);
                  }

                  if (randommapFolder == "icebox"){
                  console.log("icebox");
                  randomImage = Math.floor(Math.random() * iceboxMaps.length);
                  randommapImage = iceboxMaps[randomImage];
                  index = iceboxMaps.indexOf(randomImage, 1);
                  iceboxMaps.splice(index, 1);
                  }

                  if (randommapFolder == "lotus"){
                  console.log("lotus");
                  randomImage = Math.floor(Math.random() * lotusMaps.length);
                  randommapImage = lotusMaps[randomImage];
                  index = lotusMaps.indexOf(randomImage, 1);
                  lotusMaps.splice(index, 1);
                  }

                  if (randommapFolder == "pearl"){
                  console.log("pearl");
                  randomImage = Math.floor(Math.random() * pearlMaps.length);
                  randommapImage = pearlMaps[randomImage];
                  index = pearlMaps.indexOf(randomImage, 1);
                  pearlMaps.splice(index, 1);
                  }

                  if (randommapFolder == "split"){
                  console.log("split");
                  randomImage = Math.floor(Math.random() * splitMaps.length);
                  randommapImage = splitMaps[randomImage];
                  index = splitMaps.indexOf(randomImage, 1);
                  splitMaps.splice(index, 1);
                  }

                  console.log(`url('/static/locations/${randommapFolder}/${randommapImage}')`);
                  document.body.style.backgroundImage = `url('/static/locations/${randommapFolder}/${randommapImage}')`;
                  imgInvisible = false;
                  toggleImage();

                  mapImg.setAttribute('src', `/static/maps/${randommapFolder}.png`);

                  var countdown = startTimer(duration);

                  time = 4;



                  }, 1000);
                } else {
                  e.innerHTML = `<span>${time}</span>`;
                }
              }, 1000);
            };
            tick();

            var pointerImage = document.getElementById('pointerImg');
            var roundMarker = document.querySelector('.roundMarker');

            function toggleImage() {
                 const image = document.getElementById('mapImg');
                 const timerText = document.querySelector(".timer-container");

                 if (imgInvisible) {
                    image.style.display = 'none';
                    timer.style.display = 'none';
                    timerText.style.display = 'none';
                    lockinButton.style.display = 'none';
                    roundMarker.style.display = 'none';
                  }
                 else {
                    image.style.display = 'block';
                    timer.style.display = 'block';
                    timerText.style.display = 'block';
                    lockinButton.style.display = 'block';
                    roundMarker.style.display = 'block';
                  }
                  imgInvisible = !imgInvisible;
                }

            function showPointer() {

                 const poImage = document.getElementById('pointerImg');

                 if (poimgInvisible) {
                    poImage.style.display = 'none';
                  }
                 else {
                    poImage.style.display = 'block';
                  }
                  poimgInvisible = !poimgInvisible;
                }

            window.onload = () => {
                toggleImage();
                showPointer();
            };

            var mapImage = document.getElementById('mapImg');
            let chosenX;
            let chosenY;

            function mapClick() {
            if(mapEnabled) {
                console.log("clicked");

                lockinButton.disabled = false;
                lockinButton.style.opacity = 1;
                poimgInvisible = false;
                showPointer();

                chosenX = event.pageX - mapImage.offsetLeft;
                chosenY = event.pageY - mapImage.offsetTop;

                console.log(chosenX);
                console.log(chosenY);

                pointerImage.style.position = "absolute";

                pointerImage.style.left = chosenX - 975 + 'px';
                pointerImage.style.top = chosenY - 170 + 'px';
                }
            }

            let points = 0;
            var totalscoreText = document.querySelector("#scoreResultPopup h2");
            var scoreText = document.querySelector("#scoreResultPopup h3");

            function calculateScore (randommapImage, chosenX, chosenY) {
                console.log(randommapImage);
                const actualX = locations[randommapImage].x;
                const actualY = locations[randommapImage].y;
                const distance = Math.sqrt((chosenX - actualX) ** 2 + (chosenY - actualY) ** 2);

                points = points + Math.floor(distance / 2) * 10;
                points = 1000 - points;


                if (points < 0) {
                    points = 0;
                }

                if (points > 900) {
                    points = 1000;
                }

                console.log(points);
                return points;


            }

            let stoploop = false;

            var redPointerImage = document.getElementById('redpointerImg');
            var centerPointer = document.querySelector('#scoreResultPopup #chosenpointerImg');
            var cornerMap = document.querySelector('.map-container #mapImg');
            var centerMap = document.querySelector('#scoreResultPopup #resultMap');
            var pointer = document.querySelector('.map-container .pointer #pointerImg');
            var popup = document.getElementById('scoreResultPopup');

            function lockinButtonClick() {

                let cornerPointerX = null;
                let cornerPointerY = null;

                let cornerMapWidth = null;
                let cornerMapHeight = null;

                let centerMapWidth = null;
                let centerMapHeight = null;

                let centerPointerContainer = null;
                let centerPointerContainerWidth = null;
                let centerPointerContainerHeight = null;

                let centerPointerXInContainer = null;
                let centerPointerYInContainer = null;

                let scaleFactor = null;

                points = calculateScore(randommapImage, chosenX, chosenY);

                popup.classList.add('active');
                const scorepopup = document.querySelector('#scoreResultPopup');


                stoploop = true;
                totalPoints = totalPoints + points;
                totalscoreText.innerHTML = `Total score: ${totalPoints}`
                scoreText.innerHTML = `Points: ${points}`;
                lockinButton.disabled = true;

                const mapPosX = resultLocations[randommapImage].x;
                const mapPosY = resultLocations[randommapImage].y;

                redPointerImage.style.position = "absolute";
                redPointerImage.style.left = mapPosX + 20 + 'px';
                redPointerImage.style.top = mapPosY + 'px';

                cornerPointerX = pointer.getBoundingClientRect().left + window.pageXOffset;
                cornerPointerY = pointer.offsetTop;

                console.log(cornerPointerX);
                console.log(cornerPointerY);

                cornerMapWidth = cornerMap.offsetWidth;
                cornerMapHeight = cornerMap.offsetHeight;

                centerMapWidth = centerMap.offsetWidth;
                ccenterMapHeight = centerMap.offsetHeight;

                centerPointerContainer = centerPointer.parentElement;
                centerPointerContainerWidth = centerPointerContainer.offsetWidth;
                centerPointerContainerHeight = centerPointerContainer.offsetHeight;

                centerPointer.style.top = null;
                centerPointer.style.left = null;

                console.log(centerPointer.style.left);
                console.log(centerPointer.style.top);

                centerPointerXInContainer = centerPointer.offsetLeft;
                centerPointerYInContainer = 755;

                console.log(centerPointer.offsetTop);

                scaleFactor = centerMapWidth / cornerMapWidth;

                centerPointerX = cornerPointerX * scaleFactor + centerPointerXInContainer - centerPointerContainerWidth / 2;
                centerPointerY = cornerPointerY * scaleFactor + centerPointerYInContainer - centerPointerContainerHeight / 2;

                console.log(scaleFactor);
                console.log(centerPointerXInContainer);
                console.log(centerPointerContainerWidth);
                console.log(centerPointerYInContainer);
                console.log(centerPointerContainerHeight);

                console.log(centerPointerX);
                console.log(centerPointerY);

                centerPointer.style.position = "absolute";
                centerPointer.style.left = centerPointerX - 110 + "px";
                centerPointer.style.top = centerPointerY - 460 + "px";

                console.log(centerPointer.style.left);
                console.log(centerPointer.style.top);

                resultMap.setAttribute('src', `/static/maps/${randommapFolder}.png`);

                document.querySelectorAll('body > *:not(#scoreResultPopup)').forEach(element => {
                element.style.filter = 'blur(5px)';
                });

                resultPopup = true;
                let poimgInvisible = true;
                mapEnabled = false;

                setTimeout(debouncedNextLevel, 5000);
                lockinButton.removeEventListener("click", lockinButtonClick);
                mapImage.removeEventListener('click', mapClick);


                return;

            }

            lockinButton.addEventListener("click", lockinButtonClick);
            mapImage.addEventListener('click', mapClick)



            let durationLoop=22;

            function loop() {
                durationLoop--;
                if (!stoploop && durationLoop < 0) {
                points = calculateScore(randommapImage, chosenX, chosenY);
                if (Number.isNaN(points)) {
                points = 0;
                console.log(points);
                }

                let cornerPointerX = null;
                let cornerPointerY = null;

                let cornerMapWidth = null;
                let cornerMapHeight = null;

                let centerMapWidth = null;
                let centerMapHeight = null;

                let centerPointerContainer = null;
                let centerPointerContainerWidth = null;
                let centerPointerContainerHeight = null;

                let centerPointerXInContainer = null;
                let centerPointerYInContainer = null;

                let scaleFactor = null;

                cornerPointerX = pointer.getBoundingClientRect().left + window.pageXOffset;
                cornerPointerY = pointer.offsetTop;

                console.log(cornerPointerX);
                console.log(cornerPointerY);

                cornerMapWidth = cornerMap.offsetWidth;
                cornerMapHeight = cornerMap.offsetHeight;

                centerMapWidth = centerMap.offsetWidth;
                ccenterMapHeight = centerMap.offsetHeight;

                centerPointerContainer = centerPointer.parentElement;
                centerPointerContainerWidth = centerPointerContainer.offsetWidth;
                centerPointerContainerHeight = centerPointerContainer.offsetHeight;

                centerPointer.style.top = null;
                centerPointer.style.left = null;

                console.log(centerPointer.style.left);
                console.log(centerPointer.style.top);

                centerPointerXInContainer = centerPointer.offsetLeft;
                centerPointerYInContainer = 749;

                console.log(centerPointer.offsetTop);

                scaleFactor = centerMapWidth / cornerMapWidth;

                centerPointerX = cornerPointerX * scaleFactor + centerPointerXInContainer - centerPointerContainerWidth / 2;
                centerPointerY = cornerPointerY * scaleFactor + centerPointerYInContainer - centerPointerContainerHeight / 2;

                console.log(scaleFactor);
                console.log(centerPointerXInContainer);
                console.log(centerPointerContainerWidth);
                console.log(centerPointerYInContainer);
                console.log(centerPointerContainerHeight);

                console.log(centerPointerX);
                console.log(centerPointerY);

                centerPointer.style.position = "absolute";
                centerPointer.style.left = centerPointerX - 110 + "px";
                centerPointer.style.top = centerPointerY - 460 + "px";

                console.log(centerPointer.style.left);
                console.log(centerPointer.style.top);

                resultMap.setAttribute('src', `/static/maps/${randommapFolder}.png`);
                var popup = document.getElementById('scoreResultPopup');
                popup.classList.add('active');
                const scorepopup = document.querySelector('#scoreResultPopup');

                const mapPosX = resultLocations[randommapImage].x;
                const mapPosY = resultLocations[randommapImage].y;

                console.log(mapPosX, mapPosY);

                redPointerImage.style.position = "absolute";
                redPointerImage.style.left = mapPosX + 20 + 'px';
                redPointerImage.style.top = mapPosY + 'px';

                totalPoints = totalPoints + points;
                totalscoreText.innerHTML = `Total score: ${totalPoints}`;
                scoreText.innerHTML = `Points: ${points}`;

                lockinButton.disabled = true;

                document.querySelectorAll('body > *:not(#scoreResultPopup)').forEach(element => {
                element.style.filter = 'blur(5px)';
                resultPopup = true;
                let poimgInvisible = true;
                mapEnabled = false;

                setTimeout(debouncedNextLevel, 5000);

                });
                stoploop = true;



            }

            setTimeout(() => {
                loop();
            }, 1000);
            }

            loop();

    }

    playGame();

    </script>
</body>
</html>